.movie {
  position: relative;
  height: 15rem;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.movie__info {
  position: absolute;
  padding: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(22px);
  font-size: 0.8rem;
  transition: all 0.3s;
}

.movie__poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 10px;
  transform: scale(1.2);
  transition: all 0.3s 0.1s;
}

.movie__title {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.movie__category {
  display: block;
}

.movie__info--condensed {
  backdrop-filter: none;
  background-color: #000d;
  border-radius: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3rem;
}

.movie__info--condensed > :not(.movie__title) {
  display: none;
}

.movie:hover .movie__poster {
  transform: scale(2);
}

.movie:hover .movie__info {
  right: 0.5rem;
  left: 0.5rem;
  bottom: 0.5rem;
}

.movie:hover .movie__info--condensed {
  height: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
}
